<!-- <a mat-menu-item class="mdc-list-item__content" >
    <mat-icon   style="margin-right: 1rem;height: 48px;" >home</mat-icon>{{item.displayName}}
</a> -->




<a mat-list-item href  >
    <!-- <i class="menu-list-item-icon {{item.iconName}}"></i> -->
    <!-- <mat-icon  matListItemIcon style="margin-right: .5rem;">home</mat-icon>  -->
    <mat-icon matListItemIcon style="margin-right: .5rem;">{{item.iconName}}</mat-icon> 
    <!-- <mat-icon>perm_data_setting</mat-icon> -->
    {{item.displayName}}

    
</a>
